/**
 * Client Section
 * Author: @gkiely
 */
.Client{

}

// Modifiers
//-----------------------
.Client{

}


// Children
//-----------------------
.Client{
  
  &__signIn{
    @include module(Btn, signIn);
    position: absolute;
    top: em(10);
    right: em(10);
  }
}